<!DOCTYPE html>
<html>
	<head>
		<title>Casey Snepar's Introduction</title>
		<link rel="stylesheet" type="text/css" href="apps/public/styles/CaseySneparPage1And2.css">
	</head>

	<body>
		<a href="/Basic_Two_Pager_Casey_Snepar_Page_2">Casey Snepar's Latin Teaching Page</a>
		<a href="/portfolio">Return to my Web Development Porfolio</a>
		<h1>Casey Snepar</h1>
		<div style="text-align:center"><img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/t1.0-9/10402672_843599497821_8873255674014095746_n.jpg" width="200" height="200" /></div>
		<p>My name is Casey Snepar. I am a Latin teacher at the Williamsburg Charter High School. I received a Bachelors of Arts from Union College in Schenectady, NY. I also received a Masters of Arts in Adolescent Latin Education from Hunter College. I grew up in North Brunswick, NJ. I have three siblings. I now live in Greenpoint, Brooklyn.
		<h2 id="greenpoint">Greenpoint, Brooklyn</h2>
		<div style="text-align:center"><img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/1185109_777590590201_1222111464_n.jpg" width="400" height="400" /></div>
		<h3 id="likes"><u>Likes:</u></h3>

		<ul>
			<li>Music</li>
			<li>Good food</li>
			<li>Coffee</li>
			<li>Swimming</li>
			<li>Going out to eat</li>
			<li>Taking walks in Brooklyn</li>
			<li>Hanging out in coffee shops and bars</li>
			<li>Dogs and Cats</li>
		</ul>

		<h3 id="likes"><u>Dislikes:</u></h3>
		<ol>
			<li>Tomato juice</li>
			<li>Ethiopian food</li>
		</ol>
		<a href="http://www.linkedin.com/pub/casey-snepar/47/365/993/">Click me to go to my Linkedin profile</a>
		<br>
		<a href="http://www.promotelatin.org">Click me to go to Promote Latin.org</a>

	</body>
</html>