<!DOCTYPE html>
<html>
	<head>
		<title>Casey Snepar's Latin Teaching Page</title>
		<link rel="stylesheet" type="text/css" href="Casey Snepar Page 1 and 2.css">
	</head>
	<body>
		<a href="/Basic_Two_Pager_Casey_Snepar_Page_1">Casey Snepar's Introduction</a>
		<a href="/portfolio">Return to my Web Development Porfolio</a>
		<br>
		<br>
		<h1>Welcome to Casey Snepar's Latin Teaching Page</h1>
		<div style="text-align:center"><img src="http://www.thehistoryblog.com/wp-content/uploads/2012/06/lupa-capitolina-200x133.jpg" height="300" width="300"/></div>
		<h2>Welcome to Casey Snepar's Latin Teaching Page</h2>
		<h3>Welcome to Casey Snepar's Latin Teaching Page</h3>
		<h4>Welcome to Casey Snepar's Latin Teaching Page</h4>
		<h5>Welcome to Casey Snepar's Latin Teaching Page</h5>
		<h6>Welcome to Casey Snepar's Latin Teaching Page</h6>
		<p> This page will display a combination of Latin and Ancient Roman topics as well as everything related to Casey's teaching career. 
		<br>
		<br>
		<a href="https://sites.google.com/site/mrsneparslatinwebsite/">Click to go to Mr. Snepar's Latin Website</a>
	</body>
</html>