<!DOCTYPE html>
	<html>
		<head>
			<title>CSS INTEGRATION </title>
			<link type="type/css" rel="stylesheet" href="styles/styles.css" />
		</head>
		<body>
			




		
			<img src="images/cupcake.jpg"/>
			<div id="myImage"></div>
			<a href="/portfolio">Return to my Web Development Porfolio</a>
		</body>
	</html>