<!DOCTYPE html>
<html>
	<head>
		<title>Casey Snepar Layout Demo</title>
		<style type="text/css">
			#banner{ 
				width:900px;
				height:150px;
				border:solid 1px #000;
				margin: 0 auto;
				text-align: center;
				font-size: 30pt;
			}

			nav{
				width:900px;
				height:25px;
				background-color: #ddd;
				margin: 0 auto;
			}

			ul{
				list-style: none;
				margin: 0;
				padding: 0;
			}

			li{
				float:left;
			}

			a{
				display: block;
    			width: 175px;
			}
			#sectionWrap{
				width: 900px;
				margin: 0 auto;
			}

			#mainContent{
				float:left;
				width:650px;
				height:400px;
				background-color: #3FD0FF;
			}

			#sideBar{
				width:250px;
				height:400px;
				background-color: rgb(1,32,134);
				color: white;
				float:left;
			}
			.clear{
				clear:both;
			}
			#footer{
				width:900px;
				height:25px;
				border:solid 1px #000;
				margin: 0 auto;
				text-align: center;
				
			}

			#rates{
				width:900px;
				height:400px;
				border:solid 1px #000;
				margin: 0 auto;
			}

			#ContactUs{
				width:900px;
				height:50px;
				border:solid 1px #000;
				margin: 0 auto;
			}
				
		</style>
	</head>
	<body>
		<a href="/portfolio">Return to my Web Development Porfolio</a>
		<div id="banner">
			<img src="images/photo (1).jpg" width="150" height="150" border="0"/>
		</div>
		<nav>
			<ul>
				<li><a href="about us.html">About Us</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="rates.html">Rates</a></li>
				<li><a href="contactUs.html">Contact Us</a></li>
			</ul>
		</nav>

		<div id="sectionWrap">
			<section id="mainContent">About Us:</section>
			<section id="sideBar">Services:</section>
		</div>
		<div class="clear"> </div>
		<div id="rates">
			<section>Rates:</section>
		</div>
		<div>
			<section id="ContactUs">Contact Us:</section>
		</div>
		<div id="footer">
			<section>Southampton Surgical PLLC</section>
		</div>
	</body>
</html>
