<!DOCTYPE html>
<html>
	<head>
		<title>The New York Code + Design Academy Times-Example Article</title>
		<!-- Media query for narrow browser width -->
			<link rel="stylesheet" media="only screen and (max-width: 480px)" href="styles/mobile.css" />

			<!-- Media query for smartphones -->
			<link rel="stylesheet" media="only screen and (max-device-width: 568px)" href="styles/mobile.css" />


			<!-- Media query for medium browser width -->
			<link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="styles/tablet.css" />

			<!-- Media query for tablets -->
			<link rel="stylesheet" media="only screen and (min-device-width : 768px) and (max-device-width : 1024px)" href="styles/tablet.css" />

			<!-- Media query for full browser width -->
			<link rel="stylesheet" media="only screen and (min-width: 961px)" href="styles/desktop.css" />

			<!-- Prevents smartphones from scaling pages down -->
			<meta name="viewport" content="initial-scale=1">
	</head>
	<body>
		<a href="/portfolio">Return to my Web Development Porfolio</a>
		<div id="socialMediaIcon">
				<a href="http://www.facebook.com">
					<img src="images/fb_icon.jpg" height="100px" width="100px"/>
				</a>
		</div>
		<div id="banner"> 
			<img src="http://nycda.com/wp-content/themes/nycda-2014/images/logo.svg" height="200px" width="200px"/>
			 <h2>Times</h2>
		</div>
		<nav>
			<ul>
				<li><a href="/NYCDA_Times">Home</a></li>
				<li><a href="/NYCDA_Times">Article 1</a></li>
				<li><a href="/NYCDA_Times">Article 2</a></li>
				<li><a href="/NYCDA_Times">Article 3</a></li>
				<li><a href="/NYCDA_Times">Article 4</a></li>
				<li><a href="/NYCDA_Times">Article 5</a></li>
				<li><a href="/NYCDA_Times">Article 6</a></li>
				<li><a href="/NYCDA_Times">Article 7</a></li>
				<li><a href="/NYCDA_Times">Article 8</a></li>
				<li><a href="/NYCDA_Times">Article 9</a></li>
				<li><a href="/NYCDA_Times">Article 10</a></li>
			</ul>
		</nav>
		<div id="exampleArticle">
			<h3>Example Article</h3>
			<img src="http://scienceblogs.com/gregladen/files/2012/12/Beautifull-cat-cats-14749885-1600-1200-590x442.jpg" height="400px" width="400px"> />
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet ultricies lacus. Proin malesuada justo malesuada pretium congue. Donec imperdiet at neque non tempus. Sed hendrerit ultrices tristique. Maecenas eu dolor tristique, aliquet lorem vitae, lacinia mauris. Morbi sit amet fermentum nunc. Donec rhoncus felis vitae aliquam facilisis. Quisque tincidunt luctus nibh sed luctus. In vitae urna ultrices, mollis dui vitae, ornare felis. In dapibus lectus ut mauris posuere, nec volutpat nisi pretium. Vestibulum iaculis purus vitae turpis commodo euismod. Ut laoreet leo eu tortor venenatis, sed accumsan lectus consequat. Quisque adipiscing arcu et leo faucibus, nec placerat felis porta. Pellentesque consectetur arcu vel turpis commodo suscipit. Mauris sed felis bibendum, malesuada ligula ac, dignissim orci.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet ultricies lacus. Proin malesuada justo malesuada pretium congue. Donec imperdiet at neque non tempus. Sed hendrerit ultrices tristique. Maecenas eu dolor tristique, aliquet lorem vitae, lacinia mauris. Morbi sit amet fermentum nunc. Donec rhoncus felis vitae aliquam facilisis. Quisque tincidunt luctus nibh sed luctus. In vitae urna ultrices, mollis dui vitae, ornare felis. In dapibus lectus ut mauris posuere, nec volutpat nisi pretium. Vestibulum iaculis purus vitae turpis commodo euismod. Ut laoreet leo eu tortor venenatis, sed accumsan lectus consequat. Quisque adipiscing arcu et leo faucibus, nec placerat felis porta. Pellentesque consectetur arcu vel turpis commodo suscipit. Mauris sed felis bibendum, malesuada ligula ac, dignissim orci.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet ultricies lacus. Proin malesuada justo malesuada pretium congue. Donec imperdiet at neque non tempus. Sed hendrerit ultrices tristique. Maecenas eu dolor tristique, aliquet lorem vitae, lacinia mauris. Morbi sit amet fermentum nunc. Donec rhoncus felis vitae aliquam facilisis. Quisque tincidunt luctus nibh sed luctus. In vitae urna ultrices, mollis dui vitae, ornare felis. In dapibus lectus ut mauris posuere, nec volutpat nisi pretium. Vestibulum iaculis purus vitae turpis commodo euismod. Ut laoreet leo eu tortor venenatis, sed accumsan lectus consequat. Quisque adipiscing arcu et leo faucibus, nec placerat felis porta. Pellentesque consectetur arcu vel turpis commodo suscipit. Mauris sed felis bibendum, malesuada ligula ac, dignissim orci.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet ultricies lacus. Proin malesuada justo malesuada pretium congue. Donec imperdiet at neque non tempus. Sed hendrerit ultrices tristique. Maecenas eu dolor tristique, aliquet lorem vitae, lacinia mauris. Morbi sit amet fermentum nunc. Donec rhoncus felis vitae aliquam facilisis. Quisque tincidunt luctus nibh sed luctus. In vitae urna ultrices, mollis dui vitae, ornare felis. In dapibus lectus ut mauris posuere, nec volutpat nisi pretium. Vestibulum iaculis purus vitae turpis commodo euismod. Ut laoreet leo eu tortor venenatis, sed accumsan lectus consequat. Quisque adipiscing arcu et leo faucibus, nec placerat felis porta. Pellentesque consectetur arcu vel turpis commodo suscipit. Mauris sed felis bibendum, malesuada ligula ac, dignissim orci.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet ultricies lacus. Proin malesuada justo malesuada pretium congue. Donec imperdiet at neque non tempus. Sed hendrerit ultrices tristique. Maecenas eu dolor tristique, aliquet lorem vitae, lacinia mauris. Morbi sit amet fermentum nunc. Donec rhoncus felis vitae aliquam facilisis. Quisque tincidunt luctus nibh sed luctus. In vitae urna ultrices, mollis dui vitae, ornare felis. In dapibus lectus ut mauris posuere, nec volutpat nisi pretium. Vestibulum iaculis purus vitae turpis commodo euismod. Ut laoreet leo eu tortor venenatis, sed accumsan lectus consequat. Quisque adipiscing arcu et leo faucibus, nec placerat felis porta. Pellentesque consectetur arcu vel turpis commodo suscipit. Mauris sed felis bibendum, malesuada ligula ac, dignissim orci.
			</p>
		</div>
	</body
</html>