<head>
			<title>Mr. Snepar</title>

			<!-- Media query for full browser width -->
			<link rel="stylesheet" media="only screen and (min-width: 961px)" href="styles/desktop.css" />

		</head>
		<body>
			<div id="banner"><h2>Mr. Snepar</h2></div>
			<nav>
				<ul>
					<li><a href="/home">Home</a></li>
					<li><a href="/teachingCareer">Teaching Career</a></li>
					<li><a href="/portfolio">Portfolio</a></li>
				</ul>
			</nav>
			<div id="sectionWrap">
				<section class="section">
				<h3>About Me:</h3>
				<img src="images/casey.jpg"  height="100px" width="100px" />
				<p>My name is Mr. Snepar. I am a Latin teacher at the Williamsburg Charter High School. I received a Bachelors of Arts from Union College in Schenectady, NY. I also received a Masters of Arts in Adolescent Latin Education from Hunter College. I grew up in North Brunswick, NJ. I have three siblings. I now live in Greenpoint, Brooklyn.</p>
				<div id="clear"> </div>
				<h3 id="likes"><u>Likes:</u></h3>
					<ul>
						<li>Music</li>
						<li>Good food</li>
						<li>Coffee</li>
						<li>Swimming</li>
						<li>Going out to eat</li>
						<li>Taking walks in Brooklyn</li>
						<li>Hanging out in coffee shops and bars</li>
						<li>Dogs and Cats</li>
					</ul>
				<h3 id="likes"><u>Dislikes:</u></h3>
					<ol>
						<li>Tomato juice</li>
						<li>Ethiopian food</li>
					</ol>
				</section>
				<section class="section">
					<h3>Career Information:</h3>
					<img src="images/thewcslogo.png" height="150px" width="150px"/>
					<p>I am a Latin teacher at the Williamsburg Charter High School in Brooklyn, NY. I have experience in teaching Latin Year 1 and Latin Year 2. The grades are from ninth to twelfth grade. I work with individual learners, in small and large groups, in Latin I and II classrooms. I plan and implement classroom lessons in Latin I and II classrooms. I manage classroom activities and behavior in Latin I and II classrooms. I teach full period lessons in Latin I and II classrooms.   </p>


				</section>
			</div>
			<div id="clear"> </div>
			<div id="sectionWrap">
				<section class="section"><h3>Union College:</h3>
					<img src="http://images.businessweek.com/ss/08/08/0807_college_grads/image/union_college.jpg" height="150px" width="150px"/>
					<p>I received my Bachelors of Arts in Classics at Union College in Schenectady, NY. </p>
					<p>Founded in 1795, Union College was the first college chartered by the Board of Regents of the State of New York. It is a small, residential, independent liberal arts college committed to integrating the humanities and social sciences with science and engineering in new and exciting ways.
					</p>

			</section>
				<section class="section">
					<h3>CUNY-Hunter College:</h3>
					<img src="http://theleadershipalliance.org/Portals/0/Uploads/Images/schools/Hunterseal.gif" height="150px" width="150px"/>
					<p>I received a Masters of Arts in Adolescent Latin Education from Hunter College.
					<p>Hunter College, located in the heart of Manhattan, is the largest college in the City University of New York (CUNY). Founded in 1870, it is also one of the oldest public colleges in the country. More than 23,000 students currently attend Hunter, pursuing undergraduate and graduate degrees in more than 170 areas of study.

					Hunter's student body is as diverse as New York City itself. For more than 140 years, Hunter has provided educational opportunities for women and minorities, and today, students from every walk of life and every corner of the world attend Hunter.

					In addition to offering a multitude of academic programs in its prestigious School of Arts and Sciences, Hunter offers a wide breadth of programs in its preeminent Schools of Education, Nursing, Social Work, Health Professions and Urban Public Health.

					Hunter offers master's programs in nursing, public health, environmental and occupational health sciences, biomedical laboratory management, accounting, education, speech-language pathology and all the liberal arts, plus a number of accelerated and advanced certificate programs. Talents students from around the world apply to Hunter's master's programs in the fine arts, including creative writing, studio art, integrated media arts and playwriting.</p>
				</section>
			</div>
			<div id="clear"> </div>
			<div id="WebDevelopment">
				<h3>Web Development Information/Portfolio:</h3>
				<img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/101/s300/new-york-code-and-design-logo.gif" height="100px" width="100px"/>
				<p>I am taking a class known as Web Development 100 at the New York Code and Design Academy. In the class, I am learning the core skills and technologies of web development, including HTML, CSS, and JavaScript with some Ruby. During the first introductory 8 week period of the class, I am building my own websites. After this first 8 week period, I will have the opportunity to dive into web applications or learn advanced front end web development. At the end of the class, I will leave the class with a portfolio that includes static websites, basic Ruby projects, and a portfolio piece for whichever track I choose to enroll in during the second part of the course. </p>
				<div id="clear"> </div>
				<h2>Check out my Web Development portfolio: <a href="/portfolio">here.</a></h2>
			</div>

		</body>


	</html>

