<html>
	<head>
		<title>Julius Caesar</title>
	</head>
	<body>
		<img src="http://www.bbc.co.uk/history/historic_figures/images/caesar_julius.jpg" height="400px" width="400px"/>
		<a href="/teachingCareer">Teaching Career</a>
	</body>

</html>