<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/styles/desktop.css"/>
		<link type="text/css" rel="stylesheet" href="/styles/Casey Snepar Page 1 and 2.css"/>
	</head>
	<body>
		<%=yield%>
	</body>
</html>