<html>
		<head>
			<title>Casey Ray Snepar</title>
			<!-- Media query for narrow browser width -->
			<link rel="stylesheet" media="only screen and (max-width: 480px)" href="styles/mobile.css" />

			<!-- Media query for smartphones -->
			<link rel="stylesheet" media="only screen and (max-device-width: 568px)" href="styles/mobile.css" />


			<!-- Media query for medium browser width -->
			<link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="styles/tablet.css" />

			<!-- Media query for tablets -->
			<link rel="stylesheet" media="only screen and (min-device-width : 768px) and (max-device-width : 1024px)" href="styles/tablet.css" />

			<!-- Media query for full browser width -->
			<link rel="stylesheet" media="only screen and (min-width: 961px)" href="styles/desktop.css" />

			<!-- Prevents smartphones from scaling pages down -->
			<meta name="viewport" content="initial-scale=1">
		</head>
		<body>
			<div id="banner"><h2>Casey Ray Snepar</h2></div>
			<nav>
				<ul>
					<li><a href="/home">Home</a></li>
					<li><a href="/teachingCareer">Teaching Career</a></li>
					<li><a href="/portfolio">Portfolio</a></li>
				</ul>
			</nav>
			<div id="mainContent">
				<h1>Welcome to Casey Snepar's Latin Teaching Page!</h1>
					<div class="img">
					 <a target="_blank" href="/RomulusandRemus"><img src="http://www.thehistoryblog.com/wp-content/uploads/2012/06/lupa-capitolina-200x133.jpg" alt="Romulus and Remus" width="110" height="90"></a>
					 <div class="desc">Romulus and Remus</div>
					</div>
					<div class="img">
					 <a target="_blank" href="/JC"><img src="http://www.bbc.co.uk/history/historic_figures/images/caesar_julius.jpg" alt="JuliusCaesar" width="110" height="90"></a>
					 <div class="desc">Julius Caesar</div>
					</div>
					<div class="img">
					 <a target="_blank" href="/Colosseum"><img src="http://rome4u.com/images/145-02-Colosseum.jpg" alt="Colosseum" width="110" height="90"></a>
					 <div class="desc">Colosseum</div>
					</div>
					<div class="img">
					 <a target="_blank" href="/Neptune"><img src="http://www.greek-mythology-pantheon.com/wp-content/uploads/Greek_Gods_and_Goddesses/Poseidon_Neptune_Greek_God/Poseidon_Neptune_Greek_God_Statue_02.jpg" alt="Neptune" width="110" height="90"></a>
 					<div class="desc">Neptune</div>
					</div>
					<div id="clear"> </div>
					<p> This page will display a combination of Latin and Ancient Roman topics as well as everything related to Casey's teaching career. 
					<br>
					<br>
					<a href=" http://thewcs.oncoursesystems.com/websites/12715035">Click to go to Mr. Snepar's Williamsburg Charter High School Latin Website</a>
			</div>
		</body>


	</html>