<!DOCTYPE html>
<html>
	<head>
		<title> The Onion Article </title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<style type="text/css">
		h1 {

			color: rgb(33,127,61);

		}
			
		.headline{ 
			font-family: Georgia;
			text-align: center;
		}	
			
		p{ 
			line-height: 19px;
		}

		a:link{
			text-decoration: none;
			text-transform: uppercase;
		}

		a:hover{
			text-decoration: underline;
		}

	</style>
	</head>
	<body>
		<a href="/portfolio">Return to my Web Development Porfolio</a>
		<h1 class="headline">CIA Realizes It's Been Using Black Highlighters All These Years </h1>
		<h2 class="headline"> Director Demands Investigation </h2>
		<img src="http://o.onionstatic.com/images/articles/article/1848/CIA-Realizes-C_jpg_250x1000_q85.jpg"/>
		<h5>Adapted from The Onion</h5>
		<h4>  LANGLEY, VA </h4>
		<p>A report released Tuesday by the CIA's Office of the Inspector General revealed that the CIA has mistakenly obscured hundreds of thousands of pages of critical intelligence information with black highlighters. According to the report, sections of the documents "'almost invariably the most crucial passages'” are marred by an indelible black ink that renders the lines impossible to read, due to a top-secret highlighting policy that began at the agency's inception in 1947. CIA Director <b>Porter Goss</b> lamented the fact that the public will probably never know the particulars of several historic events, such as:
		<ul>	
			<li>the Cold War</li>
			<li>the civil-rights movement</li>
			<li>the growth of the international drug trade</li>
		</ul>
		<p>You might also like:<a href="http://www.theonion.com/articles/cia-to-shift-focus-to-greeting-cards,4312/"> CIA To Shift Focus To Greeting Cards</a></p>
		</p>
		<!EDITOR'S NOTE: * Be sure to turn the bulleted historic events into a list. * Bold Porter Goss's name on first reference *------>
	</body>
</html>
